// These are just copied from BO for now

$brand-primary:         #4A90E2;
$brand-success-lite:    #8CC04F;
$brand-info-lite:       #4C9BD5;
$brand-warning-lite:    #F6B44B;
$brand-danger-lite:     #D54C53;
$brand-paused-lite:     #24B0D5;
$brand-unknown-lite:    #D54CC4;
$brand-grey-lite:       #949393;

$progress-bg:                 #a7c7f2;
$progress-bar-color:          #1D7DCF;
